
.size-img {
    max-width: 100%;
    height: auto;
}

.format-img {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;    /* vertical */
    margin: 20px 0;
    padding: 20px;
}

@media (max-width: 768px) {

    .format-text {
        font-size: 0.8rem;
        font-weight: 300;
    }
}