
.row {
    border: 1px solid #016236;
}

body {
    background-color: #fffff0;
}

/* Formatação de texto */
.format-text {
    margin: 10px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: justify;
    color: #713d2b;
    font-weight: 500;
}

/* Títulos H1 */
.format-h1 {
    margin: 10px;
    color: #713d2b;
}

/* Títulos H2 */
.format-h2 {
    color: #713d2b;
    width: 100%;
}

.size-img {
    max-width: 100%;
    height: auto;
}

.format-img {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;    /* vertical */
    margin: 20px 0;
    padding: 20px;
}

@media (max-width: 768px) {

    .format-text {
        font-size: 0.8rem;
        font-weight: 300;
    }
}